$main-background-color: #1A0D26;
$block-background-color: #140A1E;
$inputs-background-color: #2B1D39;
$inputs-background-color2: #100718;
$inputs-hover-background-color: #1d1326;
$primary-block-background-color: #261339;
$button-background-color: #2F2752;
$button-hover-background-color: #2A2132;

$link-color: #661b9a;
$secondary-color: #2A2132;
$selected-color: #ffffff;
$default-color: #B8C7D1;
$hidden-color: #64596E;
$black-color: #000000;
$error-color: #ec2222;

//badge color
$backend-background-color: #100a17;
$backend-color: #e1e1e1;
$frontend-background-color: #e1e1e1;
$frontend-color: #100a17;
